/* 
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font Weights:
Default: 400  
Bold: 700

- Line heights:
Default: 1

- Letter Spacing:
Small: 4px
High: 12px

--- 02 COLORS

#fff
#000

- Tints: 

- Shades: 

- Accents:
Greys: #555

--- 05 SHADOWS
Medium: text-shadow: 5px 7px #000;

--- 06 BORDER-RADIUS
Small: 5px

--- 07 WHITESPACE
- Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 12

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 67.5%;
  overflow-x: hidden;
}

body {
  font-family: "Amatic SC", sans-serif;
  overflow-x: hidden;
  font-weight: 400;
  line-height: 1;
  height: 100vh;
  background-color: #333;
}

/* //////////////// */
/* GENERAL REUSABLE ELEMENTS */
/* //////////////// */

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
}

.section-box {
  height: 48rem;
  background-color: #fff;
  padding: 2.4rem 3.2rem;
  border-radius: 5px;
}

.section-title {
  color: #333;
  font-size: 3.6rem;
  font-weight: bold;
  letter-spacing: 4px;
  margin-bottom: auto;
  text-align: center;
}

.list {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.btn {
  padding: 1.6rem 4.8rem;
  background-color: #333;
  border: none;
  border-radius: 5px;
  font-size: 2.4rem;
  font-family: inherit;
  color: #fff;
  letter-spacing: 4px;
  box-shadow: 5px 7px #000;
  cursor: pointer;
  width: 100%;
}

.btn:hover {
  transform: translateY(-0.5rem);
}
